html {
  scroll-behavior: smooth;
  scroll-padding: 100px;
}


body {
    margin: 0px;
}


/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 125px;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0px 0px 0px 50px;
    color: red
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0px 50px 0px 0px
}

nav ul li {
    color: red;
    font-size: 20px;
}


/*home section*/


#home {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 100px;
    height: 400px;
    background-color: orange
}

.homepara{
    height: 300px;
    width:300px;
    align-items: center;
    display: flex;
}

.homepara p{
    text-align: center;
}

.homephoto img{
    height: 300px;
    width: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/*About Me section*/

#about-me {
    padding:100px;
    background-color: red;
    height: 400px;
}

#about-me p{
    font-size: 20px;
}

#about-me ul{
    font-size: 20px
}

/*My Work section*/

#work{
    text-align: center;
    padding: 100px;
    background-color: orange;
}

#work .workcont{
    display: flex;
    justify-content: center;
}

.workcont1 {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 400px;
    height: 400px;
    padding: 30px;

}

.workcont .workcont1 p{
    font-size: 18px;
}

/*Contact Me section*/

#contact{
    padding: 100px;
    background-color: red;
    height: 700px;
    font-size: 20px;
}

#contact h2{
    text-align: center;
}

#contact p{
    text-align: center;
}

.textbox{
    background-color: white;
    padding: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 500px;
    margin-top: 50px;
}

.textbox textarea {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px;
  font-family: inherit;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textbox input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px;
  font-family: inherit;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact button{
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#contact button:hover{
     background-color: #0056b3;
}

/*footer*/
footer {
    display:flex;
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0px;
    height:100px;
}

footer h2{
    margin: 0px;
}